{% load staticfiles %}
<html>
	<head>
		<title>
			MONOPOLY DUMMY TITLE
		</title>
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'css/game.css' %}" />
	</head>
	<body>
		<div class="container">
			<span data-gamestate="InitialState">
				<div class="page-header">
					<center>
						<button class="btn btn-success" data-newstate="CreateGameState">Create Game</button>
					</center>
					<!-- <button class="btn btn-success" data-newstate="LobbyState">Go To Lobby</button> -->
				</div>
				The aim of this game is to loop around in monopoly board 5 times without being in debt.
				<ul>
					<li>No information regarding your current holdings or money will be provided</li>
					<li>You will try to buy every single property</li>
					<li>The game is over when you pass Starting tile 5th time</li>
					<li>Your score is calculated using your holdings when you finish the game</li>
					<li>If you ever try to spend more money than you have, the game is over.</li>
					<li>Try to get as much score as you can!</li>
				</ul>
			</span>
			<span data-gamestate="CreateGameState">
				Please wait...
			</span>
			<span data-gamestate="LobbyState">
				Games: <br />
				<span data-currentgames></span>
				<br />
				<button class="btn btn-success" data-newstate="InitialState">Go back</button>
			</span>
			<span data-gamestate="JoinGameState">
				Joining game #<span data-gamename></span>
				<form>
					<div class="form-group">
						<label>Name:</label>
						<input type="text" class="form-control" data-username />
						<button class="btn btn-success" data-joingame>
							Join!
						</button>
					</div>
				</form>
			</span>
			<span data-gamestate="WaitForPlayersState">
				Current players:
				<span data-currentplayers></span>
				<br>
				<button class="btn btn-success" data-newstate="BeforeStartGameState">
					Start Game!
				</button>
			</span>
			<span data-gamestate="BeforeStartGameState">
				Starting game, please wait...
			</span>
			<span data-gamestate="StartingState">
				<span data-lastresults></span>
				<button class="btn btn-success" data-sendevent="roll_die_for_the_first_time">
					Roll Die To Detect Who Starts First
				</button>
			</span>
			<span data-gamestate="PlayerTurnState">
				Please wait...
			</span>
			<span data-gamestate="NotInJailState">
				<span data-cardresponse></span><br />
				<span data-specialfield data-fieldname='next_player'></span>'s turn.<br />
				<button class="btn btn-success" data-sendevent="roll_die">
					Roll Die!
				</button>
			</span>
			<span data-gamestate="BuyPropertyPromptState">
				You rolled <span data-specialfield data-fieldname='die'></span>.<br />
				You are at <span data-specialfield data-fieldname='location'></span>.<br />
				Would you like to buy it?<br />
				<button class="btn btn-success" data-sendevent="buy_property_response" data-eventparam='[true]'>
					Yes
				</button>
				<button class="btn btn-warning" data-sendevent="buy_property_response" data-eventparam='[false]'>
					No
				</button>
			</span>
			<span data-gamestate="OpenCardPromptState">
				You rolled <span data-specialfield data-fieldname='die'></span>.<br />
				You are at <span data-specialfield data-fieldname='location'></span>.<br />
				<button class="btn btn-success" data-sendevent="open_card">
					Open Card
				</button>
			</span>
			<span data-gamestate="IncomeTaxPromptState">
				You rolled <span data-specialfield data-fieldname='die'></span>.<br />
				You are at <span data-specialfield data-fieldname='location'></span>.<br />
				Lose 10 percent of your total worth, or 200 dollars?<br />
				<button class="btn btn-success" data-sendevent="open_card" data-eventparam='[true]'>
					10 percent
				</button>
				<button class="btn btn-success" data-sendevent="open_card" data-eventparam='[false]'>
					200 dollars
				</button>
			</span>
			<span data-gamestate="GameOverState">
				The game is over <br />
				You have either spent more than you should have, <br />
				Or you have passed starting 5 times. <br />
				The game is over. <br />
				You have accumulated <span data-specialfield data-fieldname='player_score'></span> points.<br />
			</span>
		</div>
		<script type="text/javascript" src="{% static 'js/underscore.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery-1.11.2.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/game.js' %}" ></script>
	</body>
</html>
